<div class="row-top">
    <div class="col-12-top">
        <div class="col-3-shake"><br><br><br><br><br><br><br><br>
            <button id="button-hire">Hire Me</button>
        </div>
        <div class="col-3">
            <h1 id="myname">Evgeny Musatov</h1><br>
            <a href="{{ url_for('index') }}"> <img src="../static/img/me.jpg" id="myimage"></a>
        </div>
        <div class="col-3-shake"><br><br><br><br><br><br><br><br>
            <button id="button-download" onclick="downloadCV()">Download CV</button>
        </div>
    </div>
</div>