<header class="row-header">
    <div class="col-1">
        <a href="https://www.facebook.com/evgenymusatov/" target="_blank">
            <img src="../static/img/Facebook_icon_2013.svg.png" width="15px" height="15px">Facebook</a></div>
    <div class="col-1"><a href="https://www.linkedin.com/in/evgeny-musatov-26b2ab1b9/" target="_blank">
        <img src="../static/img/linkedin%20logo.png" width="15px" height="15px"><br>LinkedIn</a></div>
    <div class="col-1"><a href="https://mail.google.com/mail/?view=cm&fs=1&to=Evgenymusatov94@gmail.com"
                          target="_blank">
        <img src="../static/img/512px-Gmail_icon_(2020).svg.png" width="15px" height="15px"><br>Gmail</a></div>
    <div class="col-1"><a href="https://github.com/evgeny94" target="_blank">
        <img src="../static/img/GitHub-Mark.png" width="15px" height="15px"><br>GitHub</a></div>
    <div class="col-3" id="legacy"></div>
    <div class="col-1">About<br></div>
    <div class="col-1">Skills</div>
    <div class="col-1">Portfolio</div>
    <div class="col-1">Experience</div>
    <div class="col-1">Contact</div>
</header>